/* Layout */

.container-full{
	width: 100%;
}
.container{
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	@include box-sizing(border-box);
}



@media screen and (max-width:960px){
	.container{
		padding: 0 21px;
	}
}


/* Header */

h2,h3{
	color: $black;
}
@each $header, $size in (h2:30px, h3:18px){
	#{$header}{
		font-size: $size;
	}
}

/* Skip nav */

#skip-nav{
	a{
		display: block;
		line-height: 50px;
		color: #fff;
		font-size: 16px;
		text-indent: 20px;
		background: $primary;
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
		overflow: hidden;
		z-index: 100;
		&:focus{
			width: 200px;
			height: 50px;
		}
	}
}

/* ListStyle */

// Line
.list-style01{
	>li{
		@include listStyle(10px, 24px, "../_images/common/bu_line.png",10px);
		font-size: 14px;
		font-weight: normal;
        color: #666;
	}	
}

// Box
.list-style02{
	margin-top: 20px;
	>li{
		@include listStyle(10px, 26px, "../_images/common/bu_box.png",12px);
		//font-size: 14px;
		margin-bottom: 10px;
		p{
			font-weight: normal;
			line-height: 24px;
		}
		.us_ml {
			margin-left: 63px;
		}
	}
}

// Number
.list-style03{
	margin-top: 20px;
	>li{
		font-size: 14px;
		list-style:decimal;
		margin-left: 20px;
		line-height: 24px;
		margin-bottom: 10px;
	}
}

// Text Ex) hangeul
.list-style04{
	margin-top: 20px;
	>li{
		position: relative;
		padding-left: 25px;
		line-height: 24px;
		font-size: 14px;
		span{
			position: absolute;
			top: 0;
			left: 0;
			font-size: 16px;
		}
	}
}

// Custom Number
.list-style05{
	margin-top: 20px;
	>li{
		position: relative;
		padding-left: 40px;
		margin-bottom: 10px;
		font-size: 14px;
		span{
			position: absolute;
			top: 0;
			left: 0;
			color: $point;
			padding-right: 10px;
			border-right: 1px solid $lineColor;
		}
	}
}

@media screen and (max-width:960px){
	
	.list-style01{
		margin-top: 10px;
		>li{
			@include listStyle(8px, 18px, "../_images/common/bu_line.png",8px);
			font-size: 12px;
			margin-bottom: 5px;
			span{
				font-size: 12px;
			}
		}	
	}
	
	.list-style02{
		margin-top: 10px;
		>li{
			@include listStyle(10px, 18px, "../_images/common/bu_box.png",7px);
            background-size: 3px;
			font-size: 12px;
			margin-bottom: 5px;
			p{
				font-size: 13px;
				line-height: 18px;
				margin-bottom: 10px;
			}
			.us_ml {
				margin-left: 50px;
			}
		}
	}
	
	.list-style03{
		margin-top: 10px;
		>li{
			font-size: 12px;
			margin-left: 10px;
			line-height: 17px;
			margin-bottom: 5px;
		}
	}

	
	.list-style04{
		margin-top: 10px;
		>li{
			position: relative;
			padding-left: 20px;
			line-height: 17px;
			font-size: 12px;
			margin-bottom: 5px;
			span{
				font-size: 12px;
			}
		}
	}
	
	.list-style05{
		margin-top: 10px;
		>li{
			font-size: 12px;
			margin-left: 15px;
			line-height: 17px;
			margin-bottom: 5px;
		}
	}
}

/* Responsive */

.mobile-only{display: none !important;}

@media screen and (max-width:960px){
	
	.mobile-hide{display: none !important;}
	.mobile-only{display: block !important;}
}


.point{
	color: $primary !important;
}


